
html{
  position: relative;}
body {
  background-color: #ffffff;
  /*background-image: url(../img/hintergrund-bild.jpg);*/
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
} 

h3 {
  color: #cb0000e5;
  font-weight: bold;
  font-size: 17px;
  margin: 40px 20px 10px 20px; }

h4 {
  color: #314b62;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 40px; }

h5 {
  color: #314b62;
  font-weight: bold;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 25px; }

.hidden-content {
  display: none; }

.toggle-menu {
  position: relative; }
  .toggle-menu .action-close {
    display: none; }
  .toggle-menu.active .action-open {
    display: none; }
  .toggle-menu.active .action-close {
    display: inline-block; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

/* html,
body {
  height: 100%; }
  html .page-wrap,
  body .page-wrap {
    min-height: 100%;
    overflow: hidden; } */

.page-content.with-stage {
  padding-top: 0; }
  .Ueberschrift{
    min-width: 950px;
    margin-top: 150px}
    .Ueberschrift h2{
      text-align: center;
      color: #314b62;
      font-weight: bold;}
  .impressumWrapper {
    background-color: white;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    margin: 0;}
#impressum{
  float: right;
  padding: 5px 20px;
  margin: 0;}
  .impressumWrapper .menu{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    text-align: center;}
  .impressumWrapper .menu li {
        display: inline-block; } 
  .impressumWrapper .menu li i.social {
          font-size: 30px;
          color: #8a8a8a;
          padding: 0 5px; 
          -webkit-transform: scale(0.8);
          /* Browser Variations: */
          -moz-transform: scale(0.8);
          -o-transform: scale(0.8);
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;}
  .impressumWrapper .menu li i.social:hover {
            -webkit-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -o-transform: scale(1.0);}
  .impressumWrapper #social-fb:hover {
            color: #3B5998;}
  .impressumWrapper #social-tw:hover {
            color: #4099FF;}
  .impressumWrapper  #social-gp:hover {
            color: #d34836;}
  .impressumWrapper #social-em:hover {
            color: #f39c12;} 
/* formularWrapper */
.formularWrapper {
  box-shadow: 0px 0px 2px #aaa;
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  width: 973px;
  margin: 70px auto 120px auto;
  background: #ffffff;
  border-radius: 10px;
  overflow: visible; }
  .formularWrapper .formularHeader {
    position: relative; }
    .formularWrapper .formularHeader .nav-tabs {
      position: relative; }
      .formularWrapper .formularHeader .nav-tabs li {
        width: 20%; }
        .formularWrapper .formularHeader .nav-tabs li a {
          width: 60px;
          height: 60px;
          margin: 20px auto;
          border: none;
          border-radius: 50%;
          padding: 0;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          transition: all 0.1s linear; }
          .formularWrapper .formularHeader .nav-tabs li a:hover {
            background: transparent; }
          .formularWrapper .formularHeader .nav-tabs li a .round-tab {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            line-height: 60px;
            display: inline-block;
            background: #314b62;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 30px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 2px 2px 0 rgba(0, 0, 0, 0.33);
            padding-top: 10px; }
            .formularWrapper .formularHeader .nav-tabs li a .round-tab i {
              color: #ffffff;
              -moz-transition: all 0.1s linear;
              -o-transition: all 0.1s linear;
              -ms-transition: all 0.1s linear;
              transition: all 0.1s linear; }
            .formularWrapper .formularHeader .nav-tabs li a .round-tab.errorTab {
              background-color: #cb0000e5;
              border: none;
              animation: shake 0.2s; }
              .formularWrapper .formularHeader .nav-tabs li a .round-tab.errorTab i {
                animation: shake 0.2s;
                color: #ffffff; }
        .formularWrapper .formularHeader .nav-tabs li:after {
          content: " ";
          position: absolute;
          left: 46%;
          opacity: 0;
          margin: 0 auto;
          bottom: 0;
          border: 10px solid transparent;
          border-bottom-color: #616f8e; }
        .formularWrapper .formularHeader .nav-tabs li.active .round-tab {
          background-color: #ffffff;
          border: 2px solid #314b62; }
          .formularWrapper .formularHeader .nav-tabs li.active .round-tab i {
            color: #314b62; }
        .formularWrapper .formularHeader .nav-tabs li.active:after {
          opacity: 1; }
        .formularWrapper .formularHeader .nav-tabs li.opend a:hover {
          background: transparent;
          z-index: 999;
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
          .formularWrapper .formularHeader .nav-tabs li.opend a:hover i {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
    .formularWrapper .formularHeader .headerLine {
      box-shadow: 0px 0px 2px #aaa;
      -moz-box-shadow: 0px 0px 2px #aaa;
      -webkit-box-shadow: 0px 0px 2px #aaa;
      height: 20px;
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 43px; }
      .formularWrapper .formularHeader .headerLine .progress-bar {
        width: 0%; }

/* conver Inhalt */
.tab-pane {
  position: relative; }
  .tab-pane .inputFelder {
    margin: 15px auto;
    min-height: 52px;
    width: 70%;
    min-width: 470px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #aaa;
    -moz-box-shadow: 0px 0px 2px #aaa;
    -webkit-box-shadow: 0px 0px 2px #aaa; }
    .tab-pane .inputFelder::after {
      display: block;
      content: "";
      clear: both; }
    .tab-pane .inputFelder label {
      float: left;
      width: 230px;
      font-size: 120%;
      text-align: center;
      line-height: 26px;
      color: #314b62; }
    .tab-pane .inputFelder.errorInput .glyphicon-remove {
      padding-left: 15px;
      color: #cb0000ba;
      width: 25px;
      height: 25px;
      line-height: 2;
      text-align: center;
      pointer-events: none;
      animation: shake 0.2s; }
    .tab-pane .inputFelder.erfolgInput .glyphicon-ok {
      padding-left: 15px;
      color: #3c763d;
      width: 25px;
      height: 25px;
      line-height: 2;
      text-align: center;
      pointer-events: none; }
    .tab-pane .inputFelder.optionalInput .checkboxContainer {
      display: block;
      padding-left: 35px;
      text-indent: -17px; }

#step1::after, #step2::after, #step43::after {
  display: block;
  content: "";
  clear: both; }

#step1 input,
#step2 input:not(#einstufungFachsemester),
#step2 select,
#step3 input {
  height: 34px;
  width: 86%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  color: blue;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: 0px 0px 2px #aaa;
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa; }

#step2 label[for=alterStudiengang]{
  font-size: 114%;
}
#step1 .errorInput input,
#step2 .errorInput select:not(.accordionSelectpicker) {
  border: 1px solid #cb0000e5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
  animation: shake 0.2s; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

#step5Instructions {
 padding: 0 20px 0 20px;
}
	
	
.navigation {
  margin-top: 40px; }
  .navigation button {
    display: inline-block;
    color: #ffffff;
    background-color: #314b62;
    width:  165px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 0px 2px #aaa;
    -moz-box-shadow: 0px 0px 2px #aaa;
    -webkit-box-shadow: 0px 0px 2px #aaa; }
    .navigation button.next-step span {
      color: #ffffff;
      cursor: pointer;
      margin-left: 5px;
      display: inline-block;
      position: relative;
      transition: 0.5s; }
    .navigation button.next-step i {
      opacity: 0;
      transition: 0.5s; }
    .navigation button.next-step:hover i {
      opacity: 1;
      margin-right: 20px;
      color: #ffffff; }
    .navigation button.next-step:hover span {
      padding-right: 5px;
      margin-left: 15px; }

#step1,
#step2,
#step3,
#step4 {
  padding: 20px 50px 5px 50px; }

/*menu*/
/*step5*/
.es-list {
  max-height: 200px !important;
  overflow-y: scroll !important; }

.es-list li {
  overflow: visible !important; }

.panel-body {
  padding: 15px 0; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

#einstufungFachsemester {
  vertical-align: middle; }

.headerWrapper {
  box-shadow: 0px 0px 2px #aaa;
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  border-color: #ffffff;
  background-color: #ffffff; }
  .headerWrapper .navbar-header .logo {
    padding-top: 0;
    padding-bottom: 0;
    height: max-content; }
    .headerWrapper .navbar-header .logo img {
      width: 200px;
      padding-top: 5px;
      padding-bottom: 5px; }
  .headerWrapper .navbar-header .navbar-toggle {
    margin: 23px; }
  .headerWrapper .navbar-nav .nav-item .navbarElemente,
  .headerWrapper .navbar-nav .nav-items .navbarElemente {
    color: #314b62;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    height: 79px;
    padding-top: 30px; }
    .headerWrapper .navbar-nav .nav-item .navbarElemente .glyphicon,
    .headerWrapper .navbar-nav .nav-items .navbarElemente .glyphicon {
      margin-right: 6px; }
    .headerWrapper .navbar-nav .nav-item .navbarElemente:hover,
    .headerWrapper .navbar-nav .nav-items .navbarElemente:hover {
      background-color: #e6e6e687;
      color: #8a8a8a; }
    .headerWrapper .navbar-nav .nav-item .navbarElemente:focus,
    .headerWrapper .navbar-nav .nav-items .navbarElemente:focus {
      background-color: #e6e6e687;
      color: #8a8a8a; }
    @media (max-width: 768px) {
      .headerWrapper .navbar-nav .nav-item .navbarElemente,
      .headerWrapper .navbar-nav .nav-items .navbarElemente {
        padding: 10px;
        height: auto; } }
  .headerWrapper .navbar-nav .nav-item .dropdown-menu,
  .headerWrapper .navbar-nav .nav-items .dropdown-menu {
    min-width: 85px;
    top: 99%; }
    .headerWrapper .navbar-nav .nav-item .dropdown-menu img,
    .headerWrapper .navbar-nav .nav-items .dropdown-menu img {
      padding-right: 3px; }
#step3 #moduleTabelle {
  margin-bottom: 7%;
  color: #314b62; }
  #step3 #moduleTabelle th {
    padding-bottom: 6px;
    text-align: center; }
  #step3 #moduleTabelle tr td input, #step3 #moduleTabelle tr td select, #step3 #moduleTabelle tr td datalist {
    width: 100%; }
  #step3 #moduleTabelle tr td:nth-child(1) {
    width: 15%; }
  #step3 #moduleTabelle tr td:last-child {
    width: 0.5%;
    text-align: right; }
    #step3 #moduleTabelle tr td:last-child a:hover {
      color: #cb0000e5; }
  #step3 #moduleTabelle tr td.inputTabelle:not(:first-child):not(:last-child) {
    padding-left: 1px;
    padding-bottom: 1px;
    width: 7%; }
  #step3 #moduleTabelle tr.errorInput select.has-error {
    border: 1px solid #cb0000e5;
    animation: shake 0.2s; }
  #step3 #moduleTabelle tr.errorInput input.has-error {
    border: 1px solid #cb0000e5;
    animation: shake 0.2s; }

#step3 .infos {
  color: #314b62;
  cursor: pointer; }
  #step3 .infos .glyphicon {
    color: #cb0000e5; }

#step3 .tooltip-inner {
  display: block;
  background-color: #ffffff;
  color: #314b62;
  padding: 10px;
  max-width: 450px;
  width: 450px;
  margin-bottom: 30px;
  text-align: left;
  box-shadow: 0px 0px 2px #aaa;
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa; }
  #step3 .tooltip-inner b {
    color: #cb0000e5; }

#step3 .tooltip-arrow {
  border-right-color: #cb0000e5; }

#step3 .tooltip.in {
  opacity: 1 !important; }

#droptable {
  width: 100%;
  color: #314b62; }
  #droptable td .accordion {
    box-shadow: 0px 0px 2px #aaa;
    -moz-box-shadow: 0px 0px 2px #aaa;
    -webkit-box-shadow: 0px 0px 2px #aaa;
    background-color: #ffffff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
    min-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px; }
    #droptable td .accordion::after {
      display: block;
      content: "";
      clear: both; }
    #droptable td .accordion:hover {
      border: 1px solid #cb0000e5; }
    #droptable td .accordion:before {
      content: "+";
      font-size: 1.3em;
      padding-left: 30px;
      line-height: 1.1em;
      float: left; }
    #droptable td .accordion.active:before {
      content: "-";
      font-size: 1.7em;
      line-height: 0.7em; }
  #droptable td .accordionInhalt {
    box-shadow: 0px 0px 2px #aaa;
    -moz-box-shadow: 0px 0px 2px #aaa;
    -webkit-box-shadow: 0px 0px 2px #aaa;
    background-color: #ffffff;
    font-size: 14px;
    list-style-type: none;
    text-align: left;
    display: none;
    border-radius: 9px;
    padding-top: 5px;
    padding-bottom: 5px; }
    #droptable td .accordionInhalt li {
      margin: 10px; }
      #droptable td .accordionInhalt li a{
        color: #314b62; 
        text-decoration: underline;
        font-weight: bold;}
        #droptable td .accordionInhalt li .lpUniModul{
          padding: 0 5px;}
      #droptable td .accordionInhalt li.accordionInhalt-highlight a:not(.dropList_elements) {
        font-weight: bold; }
      #droptable td .accordionInhalt li .ul-dropList {
        list-style-type: square;
        padding-left: 10px; }
        #droptable td .accordionInhalt li .ul-dropList li {
          padding-left: 58px;
          text-indent: -60px; }
          #droptable td .accordionInhalt li .ul-dropList li::after {
            display: block;
            content: "";
            clear: both; }
          #droptable td .accordionInhalt li .ul-dropList li .accordionSelectpicker {
            font-size: 11px;
            width: max-content;
            margin-right: 5px;
            height: 22px;
            color: #314b62; }
          #droptable td .accordionInhalt li .ul-dropList li .dropList_elements {
            color: #314b62; }
          #droptable td .accordionInhalt li .ul-dropList li .removeButton {
            float: right;
            background-color: #ffffff;
            width: 30px; }
            #droptable td .accordionInhalt li .ul-dropList li .removeButton span {
              color: #cb0000e5; }

#dragTable {
  counter-reset: headings;
  padding: 0px 28px; }
  #dragTable li {
    list-style-type: none; }
    #dragTable li span {
      box-shadow: 0px 0px 2px #aaa;
      -moz-box-shadow: 0px 0px 2px #aaa;
      -webkit-box-shadow: 0px 0px 2px #aaa;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-shadow: 0px 0px 2px #aaa;
      -moz-box-shadow: 0px 0px 2px #aaa;
      -webkit-box-shadow: 0px 0px 2px #aaa;
      overflow: hidden;
      text-overflow: ellipsis;
      /* margin-bottom: 0; */
      white-space: nowrap;
      /* color: #314b62; */
      padding: 0 5px;
      /* margin-bottom: 0; */
      margin-bottom: 5px;
      display: block;
      color: #ffffff;
      font: 16px/30px sans-serif;
      background-color: #314b62;
      text-align: center;
      border-radius: 5px;
      border: 2px solid #314b62;
      /* color: #314b62; */ }
      #dragTable li span:hover {
        font-weight: bold;
        cursor: move; }
    #dragTable li .icons {
      background-image: url("drag-drop.jpg"); }
  @media (max-width: 991px) {
    #dragTable {
      padding-left: 0px;
      margin-top: 40px; } }

.dragList {
  /* Create a new instance of a counter called "my-dragList" and set the counter to 0. */
  counter-reset: my-dragList;
  display: inline-block;
  margin-left: -3.4em;
  vertical-align: middle;
  position: relative; }

.dragListeItems {
  /* Increment the "my-dragList" counter for every list item. */
  counter-increment: my-dragList;
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
  width: 100%; }
  .dragListeItems span {
    background-color: #314b62; }
  .dragListeItems:after {
    counter-increment: headings;
    content: counter(headings, decimal-leading-zero);
    position: absolute;
    background: #314b62;
    box-shadow: 0 0 0 2px #314b62;
    color: white;
    border: 2px solid white;
    top: -1px;
    right: -25px;
    border-radius: 7px;
    line-height: 1.9em;
    text-align: center;
    vertical-align: middle;
    width: 1.7em;
    font-size: 18px;
    z-index: 2; }
  @media (max-width: 991px) {
    .dragListeItems {
      padding: 0px;
      margin-bottom: 5px; } }
#stundentInfos{
  /*font-size: 16px;*/
  font-weight: bold;
  padding: 0 20px;
  color: #314b62;}
  #stundentInfos .studentName{
   /*color: #337ab7;*/
  }
  #step5Instructions{
    font-weight: normal;
  }
  #step5Instructions a{
    font-weight: bold;
    text-decoration: underline;
  }
#finalTabelle {
  table-layout: fixed;
  color: #314b62; }
  #finalTabelle th {
    font-size: 13px;
    padding: 8px 0;
    width: 95px;
    vertical-align: top;
    text-align: center; }
    #finalTabelle th.note{
      width: 50px;
    }
    #finalTabelle thead th.modulTitle {
      width: 205px; 
      padding: 8px 7px;}
      @media (max-width: 920px) {
        #finalTabelle thead th.modulTitle {
          width: 180px; } }
    #finalTabelle th.lpTitle {
            width: 46px; }
    #finalTabelle th.anteilTitle{    
      width: 85px;}
    #finalTabelle th.zustimmungTitle {
      width: 144px; }
  #finalTabelle tr.akzeptiertesModul a.korrektButton {
        pointer-events: none;}
  #finalTabelle tr.nichtAkzeptiertesModul a.removeButton {
          pointer-events: none;}
  #finalTabelle td {
    vertical-align: middle;
    text-align: center;
    font-size: 85%;
    padding: 5px 2px; }
    #finalTabelle .error{
     color: #cb0000e5;
     font-weight: bold;}
    #finalTabelle td:nth-child(7n-6) {
      padding-left: 7px; }
    #finalTabelle td.Zustimmung a {
      padding: 5; }
      #finalTabelle td.Zustimmung a i {
        font-size: 19px; }
      #finalTabelle td.Zustimmung a.removeButton i {
        color: #cb0000e5; }
      #finalTabelle td.Zustimmung a.korrektButton i {
        color: green; }
      #finalTabelle td.Zustimmung a.addChangeButton {
        display: none; }

#step5 #summe{
  color: #314b62;
  font-weight: bold;
  font-size: 15px;
  margin: 50px 0 0 20px;
}

a {
color: #314b62;
}
