//  Site Containers
//  -----------------------------
html,
body {
    height: 100%;
    .page-wrap {
        min-height: 100%;
        overflow: hidden;
    }
}

// 2. Page Content
// ---------
.page-content {
    &.with-stage {
        padding-top: 0;
    }
}

/* formularWrapper */

.formularWrapper {
    @include global-box-shadow;
    max-width: 980px;
    min-width: 850px;
    margin: 165px auto;
    background: $weiß;
    border-radius: 10px;
    overflow: visible;
    .formularHeader {
        position: relative;
        .nav-tabs {
            position: relative;
            li {
                width: 20%;
                a {
                    width: 60px;
                    height: 60px;
                    margin: 20px auto;
                    border: none;
                    border-radius: $tabRadius;
                    padding: 0;
                    -moz-transition: all 0.1s linear;
                    -o-transition: all 0.1s linear;
                    -ms-transition: all 0.1s linear;
                    transition: all 0.1s linear;
                    &:hover {
                        background: transparent;
                    }
                    .round-tab {
                        width: 60px;
                        height: 60px;
                        border-radius: $tabRadius;
                        line-height: 60px;
                        display: inline-block;
                        background: $tabFarbe;
                        position: absolute;
                        left: 0;
                        text-align: center;
                        font-size: 30px;
                        box-shadow: $tabSchatten;
                        padding-top: 10px;
                        i {
                            color: $tabIconFarbe;
                            -moz-transition: all 0.1s linear;
                            -o-transition: all 0.1s linear;
                            -ms-transition: all 0.1s linear;
                            transition: all 0.1s linear;
                        }
                        &.errorTab {
                            background-color: $rot;
                            border: none;
                            animation: shake 0.2s;
                            i {
                                animation: shake 0.2s;
                                color: $weiß;
                            }
                        }
                    }
                }
                &:after {
                    content: " ";
                    position: absolute;
                    left: 46%;
                    opacity: 0;
                    margin: 0 auto;
                    bottom: 0;
                    border: 10px solid transparent;
                    border-bottom-color: #616f8e;
                }
                &.active {
                    .round-tab {
                        background-color: $tabAktivFarbe;
                        border: $tabRand;
                        i {
                            color: $tabIconAktivFarbe;
                        }
                    }
                    &:after {
                        opacity: 1;
                    }
                }
                &.opend{
                    a:hover {
                        background: transparent;
                        z-index: 999;
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                        i {
                            -webkit-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                            -o-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            transform: scale(1.1);
                        }
                    } 
                }
            }
        }
        .headerLine {
            @include global-box-shadow;
            height: 20px;
            position: absolute;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 43px;
            .progress-bar {
                width: 0%;
            }
        }
    }
}

/* conver Inhalt */

.tab-pane {
    position: relative;
    .inputFelder {
        margin: 15px auto;
        min-height: 52px;
        width: $inputFelderBreite;
        min-width: $inputFelderMinBreite;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: $global-radius;
        @include global-box-shadow;
        @include clearfix;
        label {
            float: left;
            width: $labelBreite;
            font-size: 120%;
            text-align: center;
            line-height: 26px;
            color: $labelTextFarbe;
        }
        &.errorInput .glyphicon-remove {
            padding-left: 15px;
            color: #cb0000ba;
            width: 25px;
            height: 25px;
            line-height: 2;
            text-align: center;
            pointer-events: none;
            animation: shake 0.2s;
        }
        &.erfolgInput .glyphicon-ok {
            padding-left: 15px;
            color: #3c763d;
            width: 25px;
            height: 25px;
            line-height: 2;
            text-align: center;
            pointer-events: none;
        }
        &.optionalInput {
            .checkboxContainer {
                display: block;
                padding-left: 35px;
                text-indent: -17px;
                ;
            }
        }
    }
}

#step1 , #step2, #step43 {
    @include clearfix;

}
#step2{
    label[for=alterStudiengang]{
        font-size: 114%;
     }
}
#step1 input,
#step2 input:not(#einstufungFachsemester),
#step2 select,
#step3 input {
    height: $inputHoehe;
    width: $inputBreite;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: blue;
    border: $inputRand;
    border-radius: $global-radius;
    @include input-transition;
    @include global-box-shadow;
}

#step1 .errorInput input,
#step2 .errorInput select:not(.accordionSelectpicker) {
    border: $inputFehlerRand;
    box-shadow: $inputFehlerSchatten;
    animation: shake 0.2s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.navigation {
    margin-top: 40px;
    button {
        display: inline-block;
        color: $buttonTextColor;
        background-color: $buttonFarbe;
        width: $buttonBreit;
        cursor: $buttonCursor;
        text-align: center;
        transition: all $buttonTransition;
        @include global-box-shadow;
        &.next-step {
            span {
                color: $buttonPfeilColor;
                cursor: $globalCursor;
                margin-left: 15px;
                display: inline-block;
                position: relative;
                transition: $buttonTransition;
            }
            i {
                opacity: 0;
                transition: $buttonTransition;
            }
            &:hover {
                i {
                    opacity: 1;
                    margin-right: 20px;
                    color: $weiß;
                }
                span {
                    padding-right: 5px;
                    margin-left: 5px;
                }
            }
        }
    }
}

#step1,
#step2,
#step3,
#step4 {
    padding: 20px 50px 5px 50px;
}

/*menu*/

/*step5*/

.es-list {
    max-height: 200px !important;
    overflow-y: scroll !important;
}

.es-list li {
    overflow: visible !important;
}

.panel-body {
    padding: 15px 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#einstufungFachsemester {
    vertical-align: middle;
}