//  Site Header
//  -----------------------------
.headerWrapper {

    @include global-box-shadow;
    border-color:$weiß;
    background-color: $weiß;

    .navbar-header {
        .logo {
            padding-top: 0;
            padding-bottom: 0;
            height: max-content;
            img {
                width: 200px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .navbar-toggle {
            margin: 23px;
        }
    }
    .navbar-nav {
        .nav-item,
        .nav-items {
            .navbarElemente {
                color: $menuItemFarbe;
                text-decoration: $menuItemDekoration;
                font-weight: $global-weight-bold;
                text-transform: $menuTextTransformation;
                font-size: $menuTextGroesse;
                height: $menuItemHoehe;
                padding-top: 30px;
                .glyphicon {
                    margin-right: 6px;
                }
                &:hover {
                    background-color: $menuItemHoverFarbe;
                    color: $menuItemHoverTextFarbe;
                }
                &:focus {
                    background-color: $menuItemHoverFarbe;
                    color: $menuItemHoverTextFarbe;
                }
                @media( max-width : $size-768 ) {
                    padding: 10px;
                    height:  auto;
                }
            }
            .dropdown-menu {
                min-width: 85px;
                top: 99%;
                img {
                    padding-right: 3px;
                }
            }
        }
    }
}