#step3{

    #moduleTabelle{
        margin-bottom:7%;
        color: $dunkelblau; 
        th {
            padding-bottom: 6px;
            text-align: center;
        }
        tr{
            td{
                input, select, datalist{
                    width: 100%;
                }
                &:nth-child(1){
                    width: 15%;
                }
                &:last-child {
                    width: 0.5%;
                    text-align: right;
                    a:hover{
                        color: $rot;
                    }
                }
                &.inputTabelle:not(:first-child):not(:last-child){
                    padding-left: 1px;
                    padding-bottom: 1px;
                    width: 7%;
                }      
            }
            &.errorInput{
                select.has-error {
                    border: 1px solid $rot;
                    animation: shake 0.2s;
                    }
                input.has-error {
                    border: 1px solid $rot;
                    animation: shake 0.2s;
                    }
            }  
        }
    
    }

    .infos{
        color:$dunkelblau;
        cursor: $tooltipTextCursor;
        .glyphicon{
            color:$rot;
        }
    }
    .tooltip-inner{
        display: block;        
        background-color: $tooltipHintergrundFarbe;
        color: $tooltipTextFarbe;
        padding: $tooltipPadding;
        max-width: $tooltipMaxBreite;
        width: $tooltipBreite;
        margin-bottom: 30px;
        text-align:left;   
        @include global-box-shadow;
        b{
            color: $tooltipBoldTextFarbe;
        }
    }
    .tooltip-arrow{
        border-right-color: $tooltipPfeilFarbe;
    }
    .tooltip.in{
        opacity:1!important;
    }
}
