#droptable {
    width: 100%;
    color: $accordionTextFarbe;
    td {
        .accordion {
            @include global-box-shadow;
            @include clearfix;
            background-color: $accordionHintergrund;
            font-size:$accordionTextGroesse;
            cursor: $accordionCursor;        
            border-radius: $global-radius; 
            border: $accordionRand;
            padding: $accordionPadding;                           
            min-height: 40px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 6px;
            &:hover {
                border: $accordionHover;
            }
            &:before {
                content: "+";
                font-size: 1.3em;
                padding-left: 30px;
                line-height: 1.1em;
                float: left;
            }
            &.active:before {
                content: "-";
                font-size: 1.7em;
                line-height: 0.7em;
            }
        }
        .accordionInhalt {
            @include global-box-shadow;
            background-color: $accordionInhaltHintergrund;
            font-size: $accordionTextInhaltGroesse;
            list-style-type: none;
            text-align: left;
            display: none;
            border-radius: $accordionInhaltadius;
            padding-top: 5px;
            padding-bottom: 5px;
            li {
                margin: 10px;
                &.accordionInhalt-highlight span:not(.dropList_elements) {
                    font-weight: bold;
                }
                .ul-dropList {
                    list-style-type: square;
                    padding-left: 10px;
                    li {
                        padding-left: 58px;
                        text-indent: -60px;
                        @include clearfix;
                        .accordionSelectpicker {
                            font-size: 11px;
                            width: max-content;
                            margin-right: 5px;
                            height: 22px;
                            color: $dunkelblau;
                        }
                        .dropList_elements {
                            color: $dunkelblau;
                        }
                        .removeButton {
                            float: right;
                            background-color: $weiß;
                            width: 30px;
                            span {
                                color: $rot;
                            }
                        }
                    }
                }
            }
        }
    }
}

#dragTable {
    counter-reset: headings;
    padding: 0px 28px;
    li {
        list-style-type: none;
        span {
            @include global-box-shadow;
            @include hide-overflow;
            box-shadow: 0px 0px 2px #aaa;
            -moz-box-shadow: 0px 0px 2px #aaa;
            -webkit-box-shadow: 0px 0px 2px #aaa;
            overflow: hidden;
            text-overflow: ellipsis;
            /* margin-bottom: 0; */
            white-space: nowrap;
            /* color: #314b62; */
            padding: 0 5px;
            /* margin-bottom: 0; */
            margin-bottom: 5px;
            display: block;
            color: #ffffff;
            font: 16px/30px sans-serif;
            background-color: #314b62;
            text-align: center;
            border-radius: 5px;
            border: 2px solid #314b62;
            /* color: #314b62; */
            &:hover {
                font-weight: bold;
                cursor: move;
            }
        }
        .icons {
            background-image: url("drag-drop.jpg");
        }
    }
    @media (max-width: 991px) {
        padding-left: 0px;
        margin-top: 40px;
    }
}

.dragList {
    /* Create a new instance of a counter called "my-dragList" and set the counter to 0. */
    counter-reset: my-dragList;
    display: inline-block;
    margin-left: -3.4em;
    vertical-align: middle;
    position: relative;
}

.dragListeItems {
    /* Increment the "my-dragList" counter for every list item. */
    counter-increment: my-dragList;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    width: 100%;
    span {
        background-color: #314b62;
    }
    &:after {
        counter-increment: headings;
        content: counter(headings, decimal-leading-zero);
        position: absolute;
        background: #314b62;
        box-shadow: 0 0 0 2px #314b62;
        color: white;
        border: 2px solid white;
        top: -1px;
        right: -25px;
        border-radius: 7px;
        line-height: 1.9em;
        text-align: center;
        vertical-align: middle;
        width: 1.7em;
        font-size: 18px;
        z-index: 2;
    }
    @media (max-width: 991px) {
        padding: 0px;
        margin-bottom: 5px;
    }
}

@media (max-width: 991px) {}