#step5{

    #finalTabelle {
        table-layout: fixed;
        color: $dunkelblau;
        th {
            font-size: 12px;
            padding: 8px 0;
            width: 85px;
            vertical-align: top;
            text-align: center;
            &.modulTitle {
                width: 220px;
                @media( max-width: $size-920) {
                    width: 180px;
                }
            }
            &.zustimmungTitle {
                width: 144px;
            }
            &.anteilTitle {
                width: 75px;
            }
        }
        td {
            vertical-align: middle;
            text-align: center;
            font-size: 85%;
            padding: 5px 2px;
            &:nth-child(7n-6) {
                padding-left: 7px;
            }
            &.Zustimmung{
                a{
                    padding: 5;
                    i {
                        font-size: 19px;
                    }
                    &.removeButton i {
                        color: $rot;
                    }
                    &.korrektButton i  {
                        color: $erfolgFarbe;
                     }
                    &.addChangeButton {
                        display: none;
                    }
                }
            }
        }
    }
    
    #titleNichtAkzeptierteModule{
        display: none;
        &active{
            display: block;
        }
    }

    #deleteTabelle {
        color: $dunkelblau;
        td {
            vertical-align: middle;
            text-align: center;
            font-size: 85%;
            &.modulTitle {
                width: 270px;
            }
            .returnButton {
                color: $rot;
                font-weight: bold;
                text-align: right;
                width: 50%;
                cursor: pointer;
                font-size: 15px;
                @media( max-width: $size-920) {
                    width: 50%;
                }
            }
            &:last-child{
                width: 16%;
            }
        }
    }
}

