//  Global Styles
//  -----------------------------
//
//  Table of Contents:
//
//   1. Headers
//   2. Links and Buttons
//   3. JS Utilities

// 1. Headers
// ---------

body {
    background-color: #fff;
    background-image: url(../img/hintergrund-bild.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    color:$rot;
    font-weight: bold;
    font-size: 17px;
    margin:40px 20px 10px 20px;
}

h4{
    color:$dunkelblau;
    font-weight: bold;
    font-size: 120%;
    margin-bottom:40px;
}

h5 {
    color:$dunkelblau;
    font-weight: bold;
    margin-top:0;
    font-size: 16px;
    margin-bottom:25px;  
}

// 2. Links and Buttons
// ---------

button, .button {
    
}


.hidden-content {
    display: none;
}

.toggle-menu {
    position:relative;

    .action-close {
        display:none;
    }
    &.active {
        .action-open {
            display:none;
        }
        .action-close {
            display:inline-block;;
        }
    }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    -webkit-tap-highlight-color: transparent;
    outline:0;
}