//  Mixins
//  -----------------------------
//
//  Table of Contents:
//
//   1. Clearfix
//   2. Global Box Shadow
//   3. input Transition
//   4. Hide Overflow
//
// ---------


// 1. Clearfix
// ---------
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

// 2. Global Box Shadow
// ---------
@mixin global-box-shadow() {
    box-shadow: $global-box-shadow;
    -moz-box-shadow: $global-box-shadow;
    -webkit-box-shadow: $global-box-shadow;
}

// 3. input Transition
// ---------
@mixin input-transition() {
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


// 4. Hide Overflow
// ---------
@mixin hide-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}