//  Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Accordion
//   3. Button
//   4. Forms
//   5. Label
//   7. Tabs
//   9.Tooltip
// ---------
//

// 1. Global
// ---------

$erfolgFarbe:green;
$rot: #cb0000e5; 
$hellgrau:#e6e6e687;
$mittelgrau: #cacaca;
$dunkelgrau: #8a8a8a;
$blau:#069;
$dunkelblau:#314b62; 
$schwarz: #0a0a0a;
$weiß: #ffffff;

$size-920:920px;
$size-768:768px;

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$global-weight-bold: bold;
$global-weight-normal:normal;
$global-radius: 5px;
$globalCursor: pointer;
$global-box-shadow: 0px 0px 2px #aaa;

// 2. Accordion
// ------------

$accordionHintergrund: $weiß;
$accordionCursor: $globalCursor;
$accordionTextFarbe: $dunkelblau;
$accordionTextGroesse: 19px;
$accordionPadding: 5px;
$accordionHover: 1px solid $rot;
$accordionRand: 1px solid transparent;
$accordionInhaltHintergrund: $weiß;
$accordionInhaltadius: 9px;
$accordionTextInhaltGroesse:14px;

// 3. Button
// ----------

$buttonFarbe: $dunkelblau;
$buttonTextColor: $weiß;
$buttonBreit: 185px;
$buttonCursor: $globalCursor;
$buttonTransition: 0.5s;
$buttonPfeilColor: $weiß;

// 4. Forms
// ---------

$inputFelderBreite: 59%;
$inputFelderMinBreite: 470px;
$inputBreite: 86%;
$inputHoehe: 34px;
$inputRand: 1px solid #ccc;
$inputFehlerRand: 1px solid $rot;
$inputFehlerSchatten: 0 2px 2px rgba(0, 0, 0, 0.11);
$inputRadius: $global-radius;
$form-button-radius: $global-radius;

// 5. Label
// ---------

$labelBreite: 230px;
$labelTextFarbe: $dunkelblau;

// 6. Table
// ---------


// 7. Tabs
// --------

$tabFarbe: $dunkelblau;
$tabAktivFarbe: $weiß;
$tabRadius:50%;
$tabIconFarbe: $weiß;
$tabIconAktivFarbe:$dunkelblau;
$tabSchatten:0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 2px 2px 0 rgba(0, 0, 0, 0.33);                  
$tabRand: 2px solid $dunkelblau;

// 8. Menu
// --------

$menuItemFarbe: $mittelgrau;
$menuItemDekoration : none;
$menuItemHoehe : 79px;
$menuTextGroesse : 13px;
$menuTextTransformation:uppercase;
$menuItemHoverFarbe: $hellgrau;
$menuItemHoverTextFarbe: $dunkelgrau;

// 9. Tooltip
// -----------

$tooltipTextCursor: $globalCursor;
$has-tip-font-weight: $global-weight-bold;
$tooltipTextFarbe: $dunkelblau;
$tooltipHintergrundFarbe: $weiß;
$tooltipPadding: 10px;
$tooltipMaxBreite: 450px;
$tooltipBreite: 450px;
$tooltipPfeilFarbe: $rot;
$tooltipBoldTextFarbe: $rot;


